<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="assets/images/PlytixLogo.webp" type="image/webp">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title id="tituloPagina"></title> <!-- Título dinámico -->
    <link rel="stylesheet" href="css/mainProductos.css">
</head>
<body>

    <nav class="breadcrumb">
        <a href="index.html"> Inicio</a> &gt; <a href="cuenta.html">Cuenta</span></a> &gt; <a href="productos.html">Productos</span></a>
    </nav>

    <h1>Lista de Productos</h1>
    <table>
        <thead>
            <tr>
                <th>SKU</th>
                <th>GTIN</th>
                <th>Nombre</th>
                <th>Thumbnail</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for producto in productos %}
            <tr>
                <td>{{ producto.SKU }}</td>
                <td>{{ producto.GTIN }}</td>
                <td>{{ producto.NOMBRE }}</td>
                
                <td>
                    {% if producto.imagen_path %}
                        <img src="{{ url_for('static', filename=producto.thumbnail) }}" alt="{{ producto.nombre }}" style="width: 50px; height: auto;">
                    {% endif %}
                </td>
                <td>
                    <a href="{{ url_for('edit_product', product_id=producto.id) }}">Editar</a>
                    <form action="{{ url_for('delete_product', product_id=producto.id) }}" method="POST" style="display:inline;">
                        <button type="submit" onclick="return confirm('¿Estás seguro de que deseas eliminar este producto?');">Borrar</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    

    <script src="js/sriptsProductos.js"></script>
</body>
</html>
