<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="{{ url_for('static', filename='assets/images/PlytixLogo.webp') }}" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles de la Cuenta</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='cuenta.css') }}">
</head>
<body>
   
    <h1>Detalles de la Cuenta</h1>
    <div class="account-details">
        <p><strong>Nombre:</strong> {{ account[1] }}</p>
    </div>
    <button onclick="window.location.href='{{ url_for('main.index') }}'">Volver</button>
    <button onclick="window.location.href='{{ url_for('main.productos', account_id=account[0]) }}'">Ver Productos</button>
</body>
</html>
